.btn {
   display: inline-block;
   white-space: nowrap;
   padding: 7px 8px;
   text-align: center;
   font-size: 17px;
   font-weight: 300;
   border: 1px solid transparent;
   cursor: pointer;
   background-color: transparent;
   border-radius: 4px;
   i {
      margin-right: 10px;
   }
}
.btn.long {
   padding: 13px 18px;
}
.btn_outline {
   background-color: transparent !important;
}
.btn.ico {
   margin: 0 10px;
   i {
      margin: 0;
   }
}
