.parallax {
   background-image: url("../img/earthBackground.jpg");
   background-attachment : fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

// Elements effect Transition
a,
button,
input[type="submit"] {
	transition: ease 0.4s;
	cursor: pointer;
   text-decoration: none;
}
