input[type="checkbox"] + label::before {
   content: '\a0';
   display: inline-block;
   vertical-align: .2em;
   width: 1em;
   height: 1em;
   margin-right: .2em;
   border-radius: .2em;
   background: silver;
   text-indent: .20em;
   line-height: .75;
   transition: ease 1s;
}
input[type="checkbox"]:checked + label::before {
   content: '\2713';
   background: #777;
   color: #111;
}
