/*********************************************************************
**********************************************************************

   | HELPING CLASS

      // Usefull class utilities

      @ Position
      @ Content alignment
      @ Clearfix
      @ Adding position fixed to sticky section

************************************************************************
************************************************************************/


/************************************************
   -> Position
*******************************************/

.left {
   float: left;
   display: inline;
}
.right {
   float: right;
   display: inline;
}
.center {
   text-align: center;
   li {
      float: none;
      display: inline-block;
   }
}


/************************************************
   -> Content alignment
*******************************************/

.align_right {
   text-align: right;
}
.align_left {
   text-align: left;
}


/************************************************
   -> Clearfix
*******************************************/

.clearfix {
   clear: both;
}
.clearfix:after,
.clearfix:before {
   content: "";
   display: table;
   clear: both;
}


/************************************************
   -> Adding position fixed to sticky section
*******************************************/

.stickytop {
   position: fixed;
   top: 90px;
}


/************************************************
   -> Gradient Mixin
*******************************************/

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
