@charset "UTF-8";

/////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////  MeshugGRID SYSTEM

///	Author : David Wieczorek
///	Date: 2016
///	Version: 0.1
///	Mail: blackratio@gmail.com


/* ========================================================================== */


/**
 * 1. Add meshuggrid($column-number, $gutters-width, $column-prefix)
 * 2. Configure properties :
 * 	$column-number : 12
 * 	$gutters-width : 0.5%
 * 	$column-prefix : mColone-
 * 3. Add HTML elements with selected class
 */
@mixin meshuggrid($column-number, $gutters-width, $column-prefix) {

   /**
    * CLear grid wrapper
    */
   .mgrid-row {
      content: "";
      display: table;
      clear: both;
      width: 100%;
   }
   @mixin grid-config($number: $column-number) {
      @for $i from 1 through $number{
         .#{$column-prefix + $i} {
            width: 100% / $number * $i;
         }
      }
      @for $i from 1 through $number {
         $width-of-a-column: ( 100% - $gutters-width * ($number - 1) ) / $number;
         .mgutters .#{$column-prefix + $i} {
            width: $width-of-a-column * $i + $gutters-width * ($i - 1);
            content: $gutters-width * ($i - 1);
         }
      }
   }
   @include grid-config();
   [class*='#{$column-prefix}'] {
      &.right {
         float: right;
      }
      img {
         max-width: 100%;
      }
   }
   [class*='#{$column-prefix}'] {
      float: left;
   }
   .mgutters [class*='#{$column-prefix}'] {
      margin-left: $gutters-width;
      &:first-child {
         margin-left: 0;
      }
   }
}

/// ADAPTIVE GRID
@import 'meshuggrid_adaptive/meshuggrid_1280';
