h1,h2,h3,h4,h5,h6 {
   margin: 0 0 10px 0;
   font-weight: 300;
}
small {
   font-size: smaller;
}
big {
   font-size: larger;
}
h1 {
   font-size: xx-large;
}
h2 {
   font-size: x-large;
}
h3 {
   font-size: large;
}
h4 {
   font-size: medium;
}
h5 {
   font-size: small;
}
h6 {
   font-size: x-small;
}
p {
   font-size: 1.4em;
   line-height: 1.4em;
   margin: 10px 0;
   font-weight: 300;
}
q {
   display: inline-block;
   padding: 15px;
   margin: 10px 0;
   font-size: 1.4em;
   line-height: 1.4em;
   font-style: italic;
   font-weight: 300;
}
