$white: #fff;

// RED
$pomegranate: rgba(242, 38, 19, 1);
$thunderbird: rgba(217, 30, 24, 1);
$oldBrick: rgba(150, 40, 27, 1);
$valencia: rgba(214, 69, 65, 1);
$monza: rgba(207, 0, 15, 1);

// PINK
$razzmatazz: rgba(219, 10, 91, 1);
$cabaret: rgba(210, 82, 127, 1);
$newYork: rgba(224, 130, 131, 1);
$radical: rgba(246, 36, 89, 1);

// PURPLE
$snuff: rgba(220, 198, 224, 1);
$rebecca: rgba(102, 51, 153, 1);
$honey: rgba(103, 65, 114, 1);
$wistful: rgba(174, 168, 211, 1);
$wisteria: rgba(155, 89, 182, 1);
$wisteriaLight: rgba(190, 144, 212, 1);
$studio: rgba(142, 68, 173, 1);

// BLUE
$sanMarino: rgba(68, 108, 179, 1);
$alice: rgba(228, 241, 254, 1);
$royal: rgba(65, 131, 215, 1);
$picton: rgba(89, 171, 227, 1);
$picton2: rgba(34, 167, 240, 1);
$shakespeare: rgba(82, 179, 217, 1);
$hummingBird: rgba(197, 239, 247, 1);
$curious: rgba(52, 152, 219, 1);
$madison: rgba(44, 62, 80, 1);
$dodger: rgba(25, 181, 254, 1);
$ebony: rgba(34, 49, 63, 1);
$malibu: rgba(107, 185, 240, 1);
$chambray: rgba(58, 83, 155, 1);
$pickled: rgba(52, 73, 94, 1);
$jacksons: rgba(31, 58, 147, 1);
$jordy: rgba(137, 196, 244, 1);

// GREEN
$turquoise: rgba(54, 215, 183, 1);
$aqua: rgba(162, 222, 208, 1);
$gossip: rgba(135, 211, 124, 1);
$darkSea: rgba(144, 198, 149, 1);
$eucalyptus: rgba(38, 166, 91, 1);
$caribbean: rgba(3, 201, 169, 1);
$mountain: rgba(27, 188, 155, 1);
$aquamarine: rgba(102, 204, 153, 1);
$riptide: rgba(134, 226, 213, 1);
$shamrock: rgba(46, 204, 113, 1);
$niagara: rgba(22, 160, 133, 1);
$emerald: rgba(63, 195, 128, 1);
$haze: rgba(1, 152, 117, 1);
$freeAquamarine: rgba(3, 166, 120, 1);
$ocean: rgba(77, 175, 124, 1);
$jade: rgba(0, 177, 106, 1);
$jungle: rgba(38, 194, 129, 1);

// YELLOW
$cream: rgba(245, 215, 110, 1);
$lemon: rgba(247, 202, 24, 1);
$saffron: rgba(244, 208, 63, 1);

// ORANGE
$california: rgba(248, 148, 6, 1);
$fire: rgba(235, 149, 50, 1);
$tahiti: rgba(232, 126, 4, 1);
$casablanca: rgba(244, 179, 80, 1);
$crusta: rgba(242, 120, 75, 1);
$lightning: rgba(245, 171, 53, 1);
$burnt: rgba(211, 84, 0, 1);
$buttercup: rgba(243, 156, 18, 1);
$sandstorm: rgba(249, 191, 59, 1);
$jaffa: rgba(242, 121, 53, 1);
$zest: rgba(230, 126, 34, 1);

// GRAY
$smoke: rgba(236, 236, 236, 1);
$lynch: rgba(108, 122, 137, 1);
$pumice: rgba(210, 215, 211, 1);
$gallery: rgba(238, 238, 238, 1);
$silverSand: rgba(189, 195, 199, 1);
$porcelain: rgba(236, 240, 241, 1);
$cascade: rgba(149, 165, 166, 1);
$iron: rgba(218, 223, 225, 1);
$edward: rgba(171, 183, 183, 1);
$cararra: rgba(242, 241, 239, 1);
$silver: rgba(191, 191, 191, 1);
$blackgray: #333;
