/*********************************************************************
**********************************************************************

| STYLE

// Site style and customisation

@ General
@ Main Menu
@ Content Bloc
@ Buttons

************************************************************************
************************************************************************/


/************************************************
-> General
*******************************************/

body {
   font-family: 'Roboto', sans-serif;
   font-size: 80%;
   color: $lynch;
   display: flex;
   flex-flow: column;
   min-height: 100vh;
}

// Meshuggrid parameters
// $column-number, $gutters-width, $column-prefix
@include meshuggrid(12, 0.5%, mColone-);


.title_content {
   text-align: center;
   margin: 20px 0;
}
.gituser {
   width: 50%;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ddd;
}

.wrapp_box {
   margin: 0 auto;
   max-width: 100%;
   padding: 50px 40px;
}

.mgrid-row {
   margin-bottom: 10px;
   .mGrid {
      background-color: $shamrock;
      padding: 6px;
      text-align: center;
      border-radius: 2px;
      color: $aqua;
      font-size: 1.3em;
      span {
         display: inline-block;
         height: 10px;
         text-align: center;
      }
   }
}
