/*********************************************************************
**********************************************************************

| STYLE

// Site style and customisation

@ General
@ Main Menu
@ Content Bloc
@ Buttons

************************************************************************
************************************************************************/


/************************************************
-> General
*******************************************/

body {
   font-family: 'Roboto', sans-serif;
   font-size: 80%;
   color: $lynch;
   display: flex;
   flex-flow: column;
   min-height: 100vh;
}

// Meshuggrid parameters
// $column-number, $gutters-width, $column-prefix
@include meshuggrid(12, 0.5%, mColone-);


.title_content {
   text-align: center;
   margin: 20px 0 60px 0;
   h1 {
      text-transform: uppercase;
      color: $picton2;
      font-size: 2em;
      letter-spacing: -2px;
      margin-bottom: 0;
   }
   h3 {
      color: $picton2;
   }
}
.gituser {
   width: 50%;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid $iron;
}

.wrapp_box {
   margin: 0 auto;
   max-width: 100%;
   padding: 0 100px;
   section {
      border-radius: 2px;
      padding: 20px;
      border: 1px solid $iron;
      margin: 0 0 45px 0;
   }
   .bloc_title {
      h2 {
         padding-left: 10px;
         border-left: 4px solid $rebecca;
      }
      h3 {
         text-decoration: underline;
         margin: 30px 0 10px 0;
      }
      h4 {
         font-style: italic;
         padding-left: 14px;
      }
   }
   .bloc_title:first-child {
      h3 {
         margin: 0 0 10px 0;
      }
   }
}

.mgrid-row {
   margin-bottom: 10px;
   .mGrid {
      background-color: $shamrock;
      padding: 6px;
      text-align: center;
      border-radius: 2px;
      color: $aqua;
      font-size: 1.3em;
      span {
         display: inline-block;
         height: 10px;
         text-align: center;
      }
   }
}
