<div class="bloc_title">
   <h2>{{::homeVm.frameWorkDatas.flexgrid.flexgrid_title}}</h2>
   <h4>{{::homeVm.frameWorkDatas.flexgrid.flexgrid_subtitle}}</h4>
</div>

<section id="flexgrid">
   <h3>{{::homeVm.frameWorkDatas.flexgrid.flexgrid_basic}}</h3>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-12"><span>12</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-11"><span>11</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-10"><span>10</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-9"><span>9</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-4"><span>4</span></div>
      <div class="mGrid mColone-8"><span>8</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-5"><span>5</span></div>
      <div class="mGrid mColone-7"><span>7</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-6"><span>6</span></div>
      <div class="mGrid mColone-6"><span>6</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-4"><span>4</span></div>
      <div class="mGrid mColone-4"><span>4</span></div>
      <div class="mGrid mColone-4"><span>4</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-3"><span>3</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
   </div>

   <br>
   <h3>{{::homeVm.frameWorkDatas.flexgrid.flexgrid_sofisticated}}</h3>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-6"><span>6</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-6"><span>6</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
      <div class="mGrid mColone-9"><span>9</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-1"><span>1</span></div>
      <div class="mGrid mColone-10"><span>10</span></div>
      <div class="mGrid mColone-1"><span>1</span></div>
   </div>
   <div class="mgrid-row mgutters">
      <div class="mGrid mColone-3"><span>3</span></div>
      <div class="mGrid mColone-7"><span>7</span></div>
      <div class="mGrid mColone-2"><span>2</span></div>
   </div>
</section>
