<div class="bloc_title">
   <h2>{{::homeVm.frameWorkDatas.lists.lists_title}}</h2>
   <h4>{{::homeVm.frameWorkDatas.lists.lists_subtitle}}</h4>
</div>

<section id="typography">
   <div class="bloc_title">
      <h3>Vertical Unorder List</h3>
   </div>
   <ul>
      <li>list 1</li>
      <li>list 2</li>
      <li>list 3</li>
      <li>list 4</li>
      <li>list 5</li>
      <li>list 6</li>
   </ul>
   <div class="bloc_title">
      <h3>Vertical Order List</h3>
   </div>
   <ol>
      <li>list 1</li>
      <li>list 2</li>
      <li>list 3</li>
      <li>list 4</li>
      <li>list 5</li>
      <li>list 6</li>
   </ol>
</section>
