<div class="bloc_title">
   <h2>{{::homeVm.frameWorkDatas.paragraph.paragraph_title}}</h2>
   <h4>{{::homeVm.frameWorkDatas.paragraph.paragraph_subtitle}}</h4>
</div>

<section id="typography">
   <div class="bloc_title">
      <h3>{{::homeVm.frameWorkDatas.paragraph.paragraph_titles}}</h3>
   </div>
   <h1>H1 - {{::homeVm.frameWorkDatas.paragraph.paragraph_titles_content}}</h1>
   <h2>H2 - {{::homeVm.frameWorkDatas.paragraph.paragraph_titles_content}}</h2>
   <h3>H3 - {{::homeVm.frameWorkDatas.paragraph.paragraph_titles_content}}</h3>
   <h4>H4 - {{::homeVm.frameWorkDatas.paragraph.paragraph_titles_content}}</h4>
   <h5>H5 - {{::homeVm.frameWorkDatas.paragraph.paragraph_titles_content}}</h5>
   <h6>H6 - {{::homeVm.frameWorkDatas.paragraph.paragraph_titles_content}}</h6>
   <div class="bloc_title">
      <h3>{{::homeVm.frameWorkDatas.paragraph.paragraph_text}}</h3>
   </div>
   <p>
      {{::homeVm.frameWorkDatas.paragraph.paragraph_lorem}}
   </p>
   <div class="bloc_title">
      <h3>{{::homeVm.frameWorkDatas.paragraph.paragraph_quotes}}</h3>
   </div>
   <q>
      {{::homeVm.frameWorkDatas.paragraph.paragraph_lorem}}
   </q>
</section>
