<div class="bloc_title">
   <h2>Typorgraphy</h2>
   <h4>Text reset and harmonization</h4>
</div>

<section id="typography">
   <div class="bloc_title">
      <h3>Titles</h3>
   </div>
   <h1>H1 - Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</h1>
   <h2>H2 - Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</h2>
   <h3>H3 - Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</h3>
   <h4>H4 - Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</h4>
   <h5>H5 - Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</h5>
   <h6>H6 - Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</h6>
   <div class="bloc_title">
      <h3>Paragraphe</h3>
   </div>
   <p>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
   </p>
   <div class="bloc_title">
      <h3>Quote</h3>
   </div>
   <q>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
   </q>
</section>
